<div class="row">
  <div class="col-md-3">
      <products-filter [category]="category"></products-filter>
  </div>
  <div class="col-md-9">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" [src]="p.imageUrl" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ p.title }}</h4>
              <p class="card-text">{{ p.price | currency:'USD':true }}</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary btn-block btn-addcart">Add To Cart</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>